@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
/* scrollbar style */
::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey; 
  border-radius: 10px;
}
::-webkit-scrollbar-thumb {
  background: #FFC24B; 
  border-radius: 10px;
}
/* styles start */
.menu__container{
  background-color: #030114 !important;
  position: fixed !important;
  top:0px;
  z-index: 999;
  width: 100%;
  border-bottom: 1px solid #EEE;
}
.menu__section{
  display: flex !important;
  justify-content: space-between !important;
  align-items: center !important;
}
.menu__section .navbar-brand img{
  color: #fff;
  width: 35px;
height: 44px;
margin-bottom: 4px;
margin-top: 5px;
}
.navbar-brand:hover{
  color: #fff !important;
}
.navbar-brand p{
  margin-bottom: 0px;
  font-size: 12px;
}
.navbar-brand h2{
  margin-bottom: 0px;
  font-size: 30px;
  font-weight: 700;
}
.nav-link.active {
  font-weight: bold;
  color: #FFC24B !important;
  /* border: 1px solid #FFC24B !important; */
}
.navbar-collapse .navbar-nav{
  width: 100% !important;
  display: flex;
  justify-content: end;
}
.navbar-collapse .nav-item .nav-link{
  color: #fff;
  border: 1px solid transparent;
  font-weight: 600 !important;
  cursor: pointer;
}
.navbar-toggler{
  background-color: #fff !important;
}
.mainapp__container{
  margin-top: 70px;
  background-image: url('./Assets/Images/bannerBg.svg');
  background-color: #561287;
  /* background-position: center; */
  /* background-repeat: no-repeat; */
  color: #fff;
  height: 550px;
  /* background-attachment: fixed; */
}
/* .mainapp__container:hover .mainapp__Sec,
.mainapp__container:hover .mainapp__Sec1,
.mainapp__container:hover .mainapp__Sec2{
  display: none;
  animation: mover1 1s infinite  alternate;
} */
/* @-webkit-keyframes mover1 {
  0% { transform: translateY(0); }
  100% { transform: translateY(10px); }
}
@keyframes mover1 {
  0% { transform: translateY(0); }
  100% { transform: translateY(10px); }
} */
.mainapp__Sec{
  background-image: url('./Assets/Images/bannerM.svg ');
  /* background-color: #561287; */
  background-position: center;
  background-repeat: no-repeat;
  /* background-attachment: fixed; */
  width: 100%;
  height: 480px;
  position: absolute;
  top: 50px;
  /* animation: mover 1s infinite  alternate; */
}
.mainapp__Sec1{
  position: absolute;
  left: 0px;
  /* animation: mover 1s infinite  alternate; */
}
.mainapp__Sec2{
  position: absolute;
  bottom: -70px;
  right: 0px;
  /* -webkit-animation: mover 1s infinite  alternate; */
  /* animation: mover 1s infinite  alternate; */
}
@-webkit-keyframes mover {
  0% { transform: translateY(0); }
  100% { transform: translateY(-10px); }
}
@keyframes mover {
  0% { transform: translateY(0); }
  100% { transform: translateY(-10px); }
}
.mainapp__section{
  width: 90%;
  height: auto;
  margin: auto;
  padding: 130px 0px;
  text-align: center;
}
.indiajoy__img{
  width: 140px;
  padding-right: 30px;
}
.poweredby__img{
  width: 180px;
}
.mainapp__section{
  position: relative;
}
.mainapp__innerSec{
  position: absolute;
}
.mainapp__section h1{
  font-size: 48px;
  padding-top: 14px;
  padding-bottom: 8px;
  font-weight: 700;
}
.mainapp__section p{
  color: #C1AECC;
  font-size: 17px;
}
.mainapp__section button{
  background-color: #FFC24B;
  width: 124px;
  height: 44px;
  background: #FFC24B 0% 0% no-repeat padding-box;
  border-radius: 5px;
  border: 0px;
  color: #030114;
  font-weight: 600;
  margin-top: 10px;
  cursor: pointer;
  z-index: 9999999999999999999 !important;
}
.mainapp__section button:hover{
  background-color: #E7AF40;
}
.ourBrand__container{
  width: 90%;
  height: auto;
  margin: auto;
  padding: 80px 0px;
}
.ourBrand__container h1{
  font-size: 45px;
  font-weight: 800;
}
.ourBrand__container .ourBrand__text{
  font-size: 16px;
  font-weight: 500;
  color: #030114;
}
.section__container{
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: auto;
}
.section__item1{
  width: 48.5%;
  background-color: #FFF0F0;
  background: #FFF0F0 0% 0% no-repeat padding-box;
  border-radius: 20px;
  padding: 30px;
}
.section__item2{
  width: 48.5%;
  background-color: #E8F4FF;
  background: #E8F4FF 0% 0% no-repeat padding-box;
  border-radius: 20px;
  padding: 30px;
}
.section__innerItem{
  display: flex;
  align-items: center;
  padding-bottom: 12px;
}
.section__item1 p{
  color: #5F0B05;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
}
.section__item2 p{
  color: #093053;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
}
.networkingText1{
  color: #5F0B05;
  font-weight: 800;
  font-size: 30px;
  padding-left: 12px;
  position: relative;
  top:4px;
}
.networkingText2{
  color: #093053;
  font-weight: 800;
  font-size: 30px;
  padding-left: 12px;
  position: relative;
  top:4px;
}
.section__item1 button{
  background-color: #FFC24B;
  color: #030114;
  width: 124px;
  height: 44px;
  border-radius: 5px;
  font-weight: 600;
  border: 0px;
  cursor: pointer;
}
.section__item1 button:hover{
  background-color: #E7AF40;
}
.section__item2 button{
  background-color: #FFC24B;
  color: #030114;
  width: 124px;
  height: 44px;
  border-radius: 5px;
  font-weight: 600;
  border: 0px;
  cursor: pointer;
}
.section__item2 button:hover{
  background-color: #E7AF40;
}
.detailsInner{
  position: relative;
  margin: 45px 0px;
}
.dividerDiv{
  width: 100%;
  height: 1px;
  background-color: #b2ade7;
}
.detailsInner h2{
  position: absolute;
  top:-12px;
  font-size: 18px;
  font-weight: 700;
  left: 20%;
}
.freeRes{
  background-color: #FFF0F0;
  padding:0px 10px;
}
.inr25{
  background-color:#E8F4FF;
  padding:0px 10px;
}
.section__item1>ul>li{
  color: #5F0B05;
  font-weight: 500;
  line-height: 26px;
}
.section__item2>ul>li{
  color: #093053;
  font-weight: 500;
  line-height: 26px;
}
.b2b__container{
  width: 100%;
  height: auto;
  margin: 0px 0px 80px 0px;
}
.b2b__section{
  width: 90%;
  height: auto;
  margin: auto;
  background-color: #561287;
  color: #fff;
  border-radius: 20px;
  padding: 40px 40px;
}
.b2b__section h1{
  font-size: 36px;
  font-weight: 700;
  margin: 10px 0px;
  text-align: center;
  padding-bottom: 30px;
  padding-top: 20px;
}
.b2b__exp__container{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.b2b__exp__item{
  width: 30%;
  text-align: center;
  padding-bottom: 10px;
  padding-top: 20px;
}
.b2b__exp__item h2{
  font-size: 20px;
  font-weight: 700;
  margin-top: 18px;
  margin-bottom: 10px;
}
.b2b__exp__item p{
  font-size: 16px;
  color: #C1AECC;
}
.internationalComp__container{
  width: 90%;
  height: auto;
  margin: auto;
}
.internationalComp__section h1{
  font-size: 42px;
  font-weight: 800;
  text-align: center;
  margin-bottom: 50px;
}
.internationalComp__innersection{
  width: 100%;
  display: flex;
  /* column-gap: 20px; */
  /* justify-content: space-between; */
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 0px 0px 60px 0px;
}
.participants{
  /* justify-content: space-between; */
  width: 23% !important;
  margin: auto;
  margin-bottom: 80px;
  padding-top: 16px !important;
}
.internationalComp__innersection img{
  margin: 10px;
}
.img__style1{
  width: 140px;
  height: 47px;
}
.img__style2{
  width: 140px;
  height: 35px;
}
.img__style3{
  width: 100px;
  height: 64px;
}
.img__style4{
  width: 74px;
  height: 64px;
}
.img__style5{
  width: 140px;
  height: 39px;
}
.img__style6{
  width: 160px;
  height: 27px;
}
.img__style7{
  width: 140px;
  height: 24px;
  transition: all 0.5s ease;
}
.img__style8{
  width: 100px;
  height: 53px;
  position: relative;
  top: -20px;
  transition: all 0.5s ease;
}
/* .img__style7:hover, .img__style8:hover {
  filter: brightness(0.2);
  transform: scale(1.05);
  cursor: pointer;
} */
.divider__CollaborationsComp{
  width: 100%;
  height: 1px;
  background-color: #b2ade7;
  margin: 80px 0px;
}
.readytojump__container{
  background-color: #561287;
  color: #fff;
}
.readytojump__section{
  width: 90%;
  height: auto;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 50px 0px;
}
.readytojump__section h1{
  font-size: 42px;
  font-weight: 700;
}
.readytojump__section p{
  font-size: 16px;
  color: #C1AECC;
  font-weight: 600;
}
.readytojump__section button{
  background-color: #FFC24B;
  color: #030114;
  width: 167px;
  height: 44px;
  border-radius: 5px;
  border: 0px;
  font-weight: 600;
  cursor: pointer;
}
.readytojump__section button:hover{
  background-color: #E7AF40;
}
.contact__container{
  background-color: #030114;
}
.contact__section{
  width: 90%;
  height: auto;
  margin: auto;
  display: flex;
  justify-content: space-between;
  padding: 50px 0px;
  align-items: center;
}
.contact__details1 p{
  font-size: 12px;
  color: #fff;
  margin-bottom: 0px;
}
.contact__details1 h2{
  font-size: 28px;
  font-weight: 700;
  color: #fff;
}
.contact__details1{
  width: 50%;
}
.contact__details1 img{
  margin-bottom: 10px;
  width: 44px;
  height: 56px;
}
.contact__imgs{
  display: flex;
  margin-right: 10px;
}
.contact__imgs img{
  margin-right: 10px;
  margin-top: 10px;
}
.contact__details2{
  width: 30%;
  color: #fff;
}
.contact__copyRights{
  padding-top: 60px;
  font-size: 15px !important;
}
.contact__details2 h2{
  font-size: 24px;
}
.contact__details2 form{
  font-size: 24px;
  width: 100%;
}
.contact__details2 input{
  background: #21113C 0% 0% no-repeat padding-box;
  border: 1px solid #362F57;
  border-radius: 5px;
  width: 100%;
  padding: 10px;
  font-size: 14px;
  margin: 8px 0px;
}
.contact__details2 button{
  background-color:#FFC24B;
  color: #030114;
  font-weight: 600;
  width: 115px;
  height: 44px;
  font-size: 16px;
  border-radius: 5px;
  border: 0px;
  margin-top: 10px;
  cursor: pointer;
}
.contact__details2 button:hover{
  background-color: #E7AF40;
}
/* media */
@media only screen and (max-width: 1324px) {
  .detailsInner h2 {
    left: 12%;
    font-size: 16px;
  }
}
@media only screen and (max-width: 1173px) {
  .participants {
    width: 245px !important;
  }
}
@media only screen and (max-width: 1070px) {
  .section__container{
    display: block;
  }
  .section__item1 {
    width: 100%;
    margin-bottom: 30px;
  }
  .section__item2 {
    width: 100%;
  }
  .detailsInner h2 {
    left: -1%;
  }
}
@media only screen and (max-width: 768px) {
  .mainapp__section h1 {
    font-size: 42px;
  }
  .ourBrand__container h1 {
    font-size: 40px;
  }
  .b2b__section h1 {
    font-size: 24px;
    line-height: 34px;
  }
  .b2b__exp__container{
    display: block;
  }
  .b2b__exp__item{
    width: 100%;
  }
  .internationalComp__section h1 {
    font-size: 38px;
  }
  .readytojump__section h1 {
    font-size: 38px;
  }
  .mainapp__section {
    padding: 76px 0px;
}
}
@media only screen and (max-width: 544px) {
  .mainapp__section {
    padding: 50px 0px 0px 0px;
    height: 604px;
}
.mainapp__Sec2 {
  bottom: -33px;
}
}
@media only screen and (max-width: 500px) {
  .mainapp__section h1 {
    font-size: 38px;
    line-height: 50px;
  }
  .indiajoy__img {
   padding-bottom: 10px;
}
.ourBrand__container h1 {
  font-size: 35px;
  }
  .networkingText1 {
    font-size: 22px;
  }
  .networkingText2 {
    font-size: 22px;
  }
  .internationalComp__section h1 {
    font-size: 35px;
  }
  .readytojump__section{
    display: block;
  }
  .readytojump__section h1 {
    font-size: 34px;
  }
  .contact__section{
    display: block;
  }
  .contact__details1, .contact__details2{
    width: 100%;
  }
  .contact__details2 h2 {
    padding-top: 30px;
  }
  .internationalComp__innersection{
    display: block;
    width: 50%;
    margin: auto;
    text-align: center;
  }
  .internationalComp__innersection img{
    margin-bottom: 20px;
  }
  .mainapp__Sec1,.mainapp__Sec,.mainapp__Sec2{
    display: none;
  }
  .mainapp__section button{
    margin-bottom: 30px;
  }
  .mainapp__container{
    height: auto !important;
  }
  .mainapp__section p {
    font-size: 16px;
}
}